body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  /* background-image: url(../design/background.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: repeat-y; */
}

.toggle-topbar {
  position: relative !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#topbar-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

#content {
  background-color: rgba(0,0,0, 0.1);
  padding-bottom:1rem;
  position: relative;
}

blockquote {
  background-color: rgba(150, 150, 150, 0.2);
  width: 100%;
  padding-bottom: 1rem;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-color: #5d5459;
}

#language {
  width: 100%;
  text-align:center;
  background-color: #EF6D3A !important;
  z-index: 2;
  height: 2rem;
}

#language a {
  position: relative;
  top: 0.45rem;
  font-weight: normal;
  width: 100%;
  height: 100%;
  color: #111;
}

#language .close-language {
  position: relative;
  left: 1rem;
}

div.header {
  height: 100px;
}

div.row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.top-bar div.row {
  padding-left: 0;
  padding-right: 0;
}

#content .row {
  margin-bottom: 2rem;
}

.pricing-table {
  border-color: #14b6fe;
}

.pricing-table li.title {
  color: #333;
  background: none;
  height: 8rem;
  background-position: center center;
  position: relative;
}

.pricing-table li.bullet-item {
  font-size: 1.2rem !important;
  background-color: rgba(255, 255, 255, 0.7);
}

.pricing-table li.cta-button {
  background-color: rgba(255, 255, 255, 0.7);
}

li.cta-button .button {
  font-weight: bold;
  width: 100%;
}

li.title h2 {
  position: relative;
  padding-top: none;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
}

h2 {
  font-family: "Lobster";
  font-size: 3.3rem;
}

#content h3 {
  color: #14b6fe;
  font-size: 1.4rem;
  font-weight: bold;
}

h3.use-case {
  font-size: 1.4rem;
  font-weight: 300;
}

.bordered {
  border: 1px solid #999;
}

label {
  font-size: 1rem;
  color: #CF4D1A;
}

#content h1 {
  margin: 3rem auto 3rem auto;
  padding-left: 0;
  color: #eF6D3A;
  font-weight: 500 !important;
  border-bottom: 1px solid #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

blockquote {
  margin-top: 1rem;
}

blockquote p {
  color: #fff;
}

cite {
  color: #eF6D3A !important;
  font-size: 1.1rem !important;
}

h3 {
  line-height: 1.675em;
  margin-bottom: 2rem;
}

#content img {
}

#content p {
  font-size: 1.2rem;
}

#vegasModal img, #scienceModal img {
  margin-bottom: 2rem;
}
#scienceModal {
  max-height: 900px;
  max-width: 1200px;
}

#scienceModal, #vegasModal {
  color: #333;
  background-color: rgba(255, 255, 255, 0.95);
}

#hero {
  width: 100%;
  text-align: center;
}

#hero img {
  width: 100%;
  top: 0;
}

.inner-wrap {
  min-height: 100%;
  position: relative;
}

.off-canvas-wrap {
  min-height: 100%;
}

footer {
  width: 100%;
  background-color: rgba(40, 40, 40, 0.9);
  padding: 1em;
}

footer p {
  color: #aaa;
  text-align: center;
  margin-bottom: 0;
}

form .row {
  margin-bottom: 1rem !important;
}

form {
  margin-bottom: 1.9rem;
}

ul.vcard {
  background-color: rgba(255, 255, 255, 0.1);
}